h1 login
section
    form(action='/users/login', method='post')
        .input
            label(for='email') Email:
            input#email(type='text', name='email', placeholder= "email")
        .input
            label(for='password') Password:
            input#password(type='password', name='password', placeholder= "password")
        button(type='submit') Login
