<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/navBar.css'/>
</head>
<body>
<header>
    <div class="container">
        <nav>
            <h1 class="UniStore"><a href="/home">UniStore</a></h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home/aboutUs">About</a></li>
                <li><a href="/users">UserPage</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>