<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/register.css'/>
</head>

<!-- 'box' refer to css-->
<section class="box">
    <h1>Register</h1>
    <form action="/users/register" method="post">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" name="firstName" placeholder="your first name" />

        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" name="lastName" placeholder="your last name" />

        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="your email address" />

        <label for="userName">User Name:</label>
        <input id="userName" type="text" name="userName" placeholder="your username" />

        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder=" at least 6 characters" />

        <input type="submit" value="Register">

        <% if(errors) { %>
            <% for (var i = 0; i < errors.length; i++) { %>
                <div class = "error"> *error: <%= errors[i] %></div>
            <% } %>
        <% } %>

    </form>
</section>
</html>