.search{
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox h2{
    color: white;
    margin-bottom: 70px;
    text-align: center;
    font-size:36px;
    font-family: sans-serif, Helvetica;
    letter-spacing: 1px;
    font-weight: lighter;
}
.searchBox input{
    width:500px;
    height: 45px;
    padding: 10px;
    border:none;
    border-radius: 25px;
    outline:none;
}
.searchBox .searchButton{
    height: 50px;
    width:100px;
    background-color: #f2d547;
    color: white;
    border:none;
    border-radius: 25px;
    opacity: 0.8;
}

.searchBox .searchButton:hover{
    background-color: #f2d547;
    opacity: 1;
}
/*    padding: 0 0;*/
/*    border-radius: 40px;*/
/*    border:0;*/
/*    padding-right:50px;*/
/*}*/

/*h1 {*/
/*    border-radius: 10px;*/
/*    background-color: coral;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/

/*h3{*/
/*    margin-top: 80px;*/
/*}*/

/*nav {*/
/*    width: 20%;*/
/*    float: left;*/
/*}*/


/*main {*/
/*    width: 55%;*/
/*    float: right;*/
/*}*/
/*.content {*/
/*    height: 253px;*/
/*    width: 280px;*/
/*    float: left;*/
/*}*/